.main{
  height: 500px;
  display: inline-block;
  margin: 0%;
  padding: 0%;
  height: auto;
  
  margin: 10px 0;
}
.App {
  width: 100vw;
  height: 86vh;
  background: #fff;
  color: #212121;
  font-family: "Open Sans", sans-serif;
  display: grid;
  place-items: center;
}
.App .rightside{
  margin: 0 0 0 50%;
  width: 360px;
  height: auto;
  display: inline-block;
}
.App .rightside img{
  width: 100%;
  height: auto;
  transform: rotate(3deg);
}
.App .rightside h2{
  font-size: 26px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  padding: 5px 5% 5px  5%;
  text-align: center;
  margin: 0;
}
.App .rightside p{
  padding: 10px ;
  margin: 0 8%;
  text-align: center;
border-radius: 32px;
  background-color: #0099e3;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}
.App .rightside a{
  color: #fff;
  font-size: 20px;
} 

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
.back{
  width :60%;
  position:absolute;
  height: 630px;
  margin: 0;
  padding: 0;
}
.joinChatContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #eee;
  padding: 50px;
  margin-left: 40%;
  border-radius: 12px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

.joinChatContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.joinChatContainer input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 2px solid #0099e3;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}
.notauthentic {
  display: none;
}
.joinChatContainer button {
  width: 225px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: #0099e3;
  color: #fff;
  cursor: pointer;
}

.joinChatContainer button:hover {
  background: #2e7d32;
}

.chat-window {
  width: 400px;
  margin: 0px 0px 0px 50%;
  height: 460px;
  border: 1px solid #eee;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

.chat-window p {
  margin: 0;
}
.chat-window .chat-header {
  height: 70px;
  border-radius: 6px;
  background: #263238;
  position: relative;
  cursor: pointer;
}
.chat-window .chat-header .users{
  padding: 0 0 0 5px;
  margin: 0;
  color: greenyellow;
}
.chat-window .chat-header p {
  display: block;
  padding: 5px 1em 0px 2em;
  color: #fff;
  font-weight: 700;
}

.chat-window .chat-body {
  height: calc(450px - (45px + 70px));
  background: #fff;

  position: relative;
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 120px;
  background-color: #0099e3;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-start;
}

#you .message-content {
  justify-content: flex-start;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#other {
  justify-content: flex-end;
}

#other .message-content {
  justify-content: flex-end;
  background-color: cornflowerblue;
}

#other .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-window .chat-footer {
  width: 100%;
  margin-top:0px;
  height: 55px;
  border-top: none;
  padding: 0;
  overflow: hidden;
  display: flex;
}

.chat-window .chat-footer input {
  height:80%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  outline: none;
  font-family: "Open Sans", sans-serif;
}

.chat-window .chat-footer button {
  border-radius: 0;
  cursor: pointer;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  padding: 0 6px 10px 10px;
  margin: 10px 0 0 0;
  border: 1px solid lightgray;
  color: lightgray;
}

.chat-window .chat-footer button:hover {
  color: #0099e3;
}
.hide {
  opacity: 0 !important;
}

@media screen and (max-width:600px) {
  .App {
    width: 100vw;
    height: 100%;
    background: #fff;
    border: 1px  solid #000;
    color: #212121;
    font-family: "Open Sans", sans-serif;
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;
  }
  .App img{
    width: 320px;
    height: auto;
    margin: 0 0 0 0%;
    transform: rotate(-5deg);
  }
  .back{
    width :100%;
    position:absolute;
    height: 650px;
    border: 1px solid #fff;
    margin: 0;
    padding: 0;
  }
  .navbar{
    margin: 0;
  }
}

.foot {
  border-top: 2px solid #111;
  border-bottom: 2px solid #111;
  margin-top: 0px;
  background-color: #000;
  display: block;
  padding: 20px 0 0 0;
}
.foot .con p {
  margin: 10px 0 30px 10px;
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 14px;
  color: #fff;
  padding: 0px 20px;
}
.foot .con p a{
  color: #fff;
  font-weight: normal;
}

.foot .con h4 {
  margin: 10px;
  font-weight: bold;
  color: #fff;
  padding: 0px 20px;
}
.foot .con .fa {
  margin: 20px 20px  0 0;
  font-size: 26px;
  color: white;
  padding: 8px 8px;
  border-radius: 36px;
  background-color: #0099e3;
  
}
.foot .copy {
  display: inline-flex;
  margin: 0px 0px;
  padding: 0px 20px;
  background-color: #111;
  width: 100%;
  height: 5vh;
}
.foot .copy .fa {
  font-size: 14px;
  margin: 10px 10px;
  color: #fff;
}
.foot .copy a {
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
  letter-spacing: 1px;
}
.foot .copy p {
  color: #fff;
  font-size: 14px;
  
  margin-left: 35px;
  margin-top: 5px;
  margin-right: 0;
}